.form-item li .layui-form-select {
  width: 65%;
  display: inline-block;
}
.form-item .autoLine {
  height: auto;
}
.centerArea {
  display: inline-block;
  width: calc( 80% + 96px );
}
.w82 {
  width: 756px;
}
.form-item li .mr12 {
  margin-left: 12px;
}
.form-item li .ml12 {
  margin-left: -12px;
}
.sel-area {
  font-size: 14px;
  background: #eff7f3;
  padding: 25px 25px 10px 20px;
  margin-top: -15px;
  margin-bottom: 20px;
  border-radius: 4px;
  text-align: center;
  color: #4b715d;
}
.sel-area .start,
.sel-area .end {
  display: inline-block;
  position: relative;
}
.sel-area .start i.cal,
.sel-area .end i.cal {
  position: absolute;
  right: 6px;
  top: 6px;
  width: 19px;
  height: 18px;
  background: url(../../../img/calender.png) no-repeat;
  cursor: pointer;
}
.sel-area .start i.cal2,
.sel-area .end i.cal2 {
  position: absolute;
  right: 20px;
  top: 6px;
  width: 19px;
  height: 18px;
  background: url(../../../img/calender.png) no-repeat;
  cursor: pointer;
}
.sel-area .item-half {
  width: 50%;
}
.sel-area .item-half .c-input {
  width: 298px;
}
.sel-area .item-half .c-input2 {
  width: 138px;
}
.sel-area .item-half span.line {
  color: #b2d3c2;
  padding: 0 5px 0 7px;
}
.sel-area .item-left {
  width: 30%;
  text-align: left;
}
.sel-area .item-middle {
  width: 50%;
  text-align: right;
}
.sel-area .item-middle .c-input {
  width: 278px;
}
.sel-area .item-right {
  width: 20%;
  text-align: right;
  margin-bottom: 0px;
}
.sel-area2 {
  padding-top: 40px;
  background: none;
}
.btn-area {
  text-align: center;
  margin-bottom: 36px;
}
.btn-area div {
  margin-right: 10px;
  display: inline-block;
  width: 110px;
  font-size: 14px;
  border-radius: 20px;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.btn-area div.search {
  padding: 7px 0px;
  box-shadow: 0 0 10px #fdd9c1;
  background: linear-gradient(to right, #ff9000, #ff8d01, #ff7b03);
  background: -webkit-linear-gradient(to right, #ff9000, #ff8d01, #ff7b03);
  background: -ms-linear-gradient(to right, #ff9000, #ff8d01, #ff7b03);
  background: -moz-linear-gradient(to right, #ff9000, #ff8d01, #ff7b03);
  background: #ff9000;
  color: #fff;
}
.btn-area div.search i {
  width: 14px;
  height: 14px;
  position: absolute;
  left: 24px;
  top: 10px;
  background: url(../../../img/search.png) no-repeat;
}
.btn-area div.add {
  padding: 6px 0 6px 22px;
  text-align: right;
  box-shadow: 0 0 10px #dbf2e6;
  color: #44b669;
  border: 1px solid #44b669;
}
.btn-area div.add span {
  margin-right: 15px;
}
.btn-area div.add a {
  color: #44b669;
}
.btn-area div.add i {
  width: 14px;
  height: 14px;
  position: absolute;
  left: 16px;
  top: 8px;
  background: url(../../../img/add.png) no-repeat;
}
.btn-area .search span {
  margin-left: 10px;
}
