.marR15 {
  margin-right: 15px;
}
.center {
  text-align: center;
}
.form-item li .required {
  margin-top: 8px;
}
.origin-info-wrapper {
  margin: 36px 0 0 0;
  padding: 28px 50px;
  background: #eff7f3;
}
.origin-info-wrapper .origin-info {
  position: relative;
  margin-right: 89px;
}
.origin-info-wrapper .origin-info span {
  font-size: 14px;
  color: #4b715d;
  line-height: 32px;
}
.origin-info-wrapper .origin-info span.mu {
  margin-left: 5px;
}
.origin-info-wrapper .origin-info input {
  width: 138px;
  height: 30px;
  padding: 0 5px;
  border: 1px solid #b2d3c2;
  background: #fff;
  line-height: 30px;
  border-radius: 5px;
}
.origin-info-wrapper .origin-info i {
  position: absolute;
  right: 10px;
  top: 7px;
  width: 19px;
  height: 19px;
  background: url(../../img/originIcon.png) no-repeat;
}
.origin-info-wrapper .origin-info1 {
  margin-right: 0;
}
#editLayer_box {
  padding: 0 40px 20px;
  display: none;
}
.layui-layer-title {
  background-color: #017945 !important;
  background-image: url("../../img/layer-title-bg.png") !important;
  background-position: right -14px !important;
  background-repeat: no-repeat !important;
  color: #fff !important;
}
.layui-layer-setwin .layui-layer-ico {
  background-image: url("../../img/layer-title-close.png") !important;
  background-repeat: no-repeat !important;
  background-position: 0 0 !important;
}
.layui-form-item .layui-form-checkbox,
.layui-form-item .layui-form-checkbox[lay-skin=primary] {
  margin-top: 0px;
}
.sel-con {
  width: 70%;
  height: 32px;
  margin: 0 auto 50px;
}
.sel-con .layui-select {
  background: #fefefd;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  border-color: #bbd8c9;
  box-sizing: border-box;
}
.sel-con .layui-form-select {
  width: 100%;
  display: inline-block;
}
.sel-con .layui-form-select .layui-edge {
  z-index: 10;
  border-top-color: #fff;
}
.sel-con .layui-form-select dl {
  top: 35px;
}
.sel-con .layui-form-select dl dd {
  line-height: 28px;
  text-align: left;
}
.sel-con .layui-input {
  height: 32px;
  color: #4b715d;
  border-color: #c1dbcd;
}
.sel-con .layui-form-select::after {
  position: absolute;
  content: '';
  display: inline-block;
  width: 30px;
  height: 32px;
  background-color: #2aa161;
  border: 0;
  top: 0px;
  right: 0px;
  border-color: #10a645;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.sel-area {
  font-size: 14px;
  background: #eff7f3;
  padding: 25px 25px 10px 20px;
  margin: -15px 0px 20px 0px;
  border-radius: 4px;
  text-align: center;
  color: #4b715d;
}
.sel-area .item-half {
  width: 50%;
}
.sel-area .item-half .c-input {
  width: 298px;
  height: 32px;
}
.sel-area .btn-area {
  text-align: center;
}
.sel-area .btn-area div {
  padding: 7px 0px;
  margin-right: 10px;
  display: inline-block;
  width: 110px;
  font-size: 14px;
  border-radius: 20px;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.sel-area .btn-area div.search {
  box-shadow: 0 0 10px #fdd9c1;
  background: #ff9000;
  background: linear-gradient(to right, #ff9000, #ff8d01, #ff7b03);
  color: #fff;
}
.sel-area .btn-area div.search i {
  width: 14px;
  height: 14px;
  position: absolute;
  left: 24px;
  top: 10px;
  background: url(../../img/search.png) no-repeat;
}
.con-top {
  padding-top: 25px;
}
.con-top .sel-area {
  padding: 25px 25px 25px 20px;
}
.con-top .sel-area .sel-left {
  margin-right: 30px;
}
.con-top .sel-area .sel-left input {
  width: 190px;
}
.con-top .sel-area .btn-area div.add {
  width: 140px;
}
#editLayer_box .form-item p {
  line-height: 30px;
  padding: 20px 0;
  font-size: 16px;
  color: #4b715d;
}
#editLayer_box .form-item .btn-area {
  text-align: center;
}
#editLayer_box .form-item .btn-area div {
  padding: 7px 0px;
  margin-right: 10px;
  display: inline-block;
  width: 110px;
  font-size: 14px;
  border-radius: 20px;
  text-align: center;
  position: relative;
  cursor: pointer;
}
#editLayer_box .form-item .btn-area div.search {
  box-shadow: 0 0 10px #fdd9c1;
  background: #ff9000;
  background: linear-gradient(to right, #ff9000, #ff8d01, #ff7b03);
  color: #fff;
  border: 1px solid #ff7b03;
}
#editLayer_box .form-item .btn-area div.search i {
  width: 14px;
  height: 14px;
  position: absolute;
  left: 24px;
  top: 10px;
  background: url(../../../img/search.png) no-repeat;
}
#editLayer_box .form-item .btn-area div.edit {
  box-shadow: 0 0 10px #dbf2e6;
  background: #2bb95d;
  background: linear-gradient(to right, #2bb95d, #168859);
  color: #fff;
  border: 1px solid #44b669;
}
#editLayer_box .form-item .btn-area div.edit i {
  width: 14px;
  height: 14px;
  position: absolute;
  left: 10px;
  top: 10px;
  background: url(../../img/add.png) no-repeat;
}
